
body{
	background-color: #F8F7F8;
	font-family: 'roboto';
	height:100vh;

	content{
		margin-top: 46px;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		display: flex;
	}
}
